In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import plotly.express as px

# Import API key
from api_keys import g_key

In [2]:
# Import data saved as a csv file in Part I (WeatherPy)
city_weather_data = pd.read_csv("output_data/cities.csv", index_col=0)
city_weather_data

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date
City_ID,,,,,,,,,
0,honiara,-9.43,159.95,SB,12.75,87.80,62,40,1601166207
1,san vicente de canete,-13.08,-76.38,PE,3.87,61.05,80,12,1601166207
2,klaksvik,62.23,-6.59,FO,11.41,44.60,87,100,1601166207
3,kysyl-syr,63.90,122.76,RU,6.33,47.34,91,100,1601166207
4,haines junction,60.75,-137.51,CA,7.20,49.55,65,88,1601166182
...,...,...,...,...,...,...,...,...,...
565,nago,26.59,127.98,JP,3.36,71.60,88,90,1601166337
566,delta,5.50,6.00,NG,1.81,73.17,96,100,1601166337
567,maldonado,-34.67,-54.92,UY,4.70,62.60,88,75,1601166110
568,hammerfest,70.66,23.68,NO,21.92,41.00,65,13,1601166337
569,west wendover,40.74,-114.07,US,13.87,71.60,35,1,1601166338

In [3]:
# Filter dataframe to show cities satisfying weather criteria for vacation

df = city_weather_data.loc[(city_weather_data["Max Temp"] < 80) & (city_weather_data["Max Temp"] > 70) \
                                  & (city_weather_data["Wind Speed"] < 10) \
                                  & (city_weather_data["Cloudiness"] == 0)].dropna()

df

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date
City_ID,,,,,,,,,
33,amambai,-23.10,-55.23,BR,5.64,79.83,35,0,1601166214
141,marsa matruh,31.35,27.25,EG,6.93,75.20,73,0,1601166239
152,riyadh,24.69,46.72,SA,2.24,78.80,29,0,1601166231
153,gat,31.61,34.76,IL,5.73,75.99,74,0,1601166242
227,gorele,41.03,39.00,TR,2.24,71.60,64,0,1601166259
247,sakakah,29.97,40.21,SA,9.17,77.00,27,0,1601166264
261,victoria point,-27.58,153.30,AU,1.99,71.01,26,0,1601166267
326,thyolo,-16.07,35.14,MW,7.76,72.03,33,0,1601166282
342,senhor do bonfim,-10.46,-40.19,BR,9.69,72.72,57,0,1601166285
382,pirenopolis,-15.85,-48.96,BR,3.80,71.60,43,0,1601166295
420,buraydah,26.33,43.98,SA,5.82,78.80,29,0,1601166057
423,mandal,25.45,74.57,IN,5.23,71.28,78,0,1601166304
543,tukrah,32.53,20.58,LY,8.90,74.37,72,0,1601166332

In [5]:
# Create lat/long string for API calls and add to dataframe

df["City_Lat_Lng"] = df["Latitude"].astype(str) + "," + df["Longitude"].astype(str)

# Create list
city_lat_lng = df["City_Lat_Lng"] .tolist()

In [9]:
hotels = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params={
    "location": city_lat_lng, 
    "keyword": "hotel", 
    "radius": 5000, 
    "key": g_key
}).json()

In [11]:
hotels["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': -23.1048301, 'lng': -55.22182},
  'viewport': {'northeast': {'lat': -23.10357337010727,
    'lng': -55.22041962010729},
   'southwest': {'lat': -23.10627302989272, 'lng': -55.22311927989273}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
 'name': 'Hotel Royal em Amambai',
 'opening_hours': {'open_now': True},
 'photos': [{'height': 3024,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111332270340341938624">A Google User</a>'],
   'photo_reference': 'CmRaAAAA2zAwB-NWzFFeEN-Jb2eFWON1oNxwwklguIVVWg4F01JktFfZzkrrYQLZSUqIlv2qLfNHIe1ilAre7FkWoJMn1RxTz_HlYYubrmZ4hZMZvRAjc_tFH5N-WZND-L9eAAGhEhD2HzHzy39KjsJuwJd9qI1iGhS6_brIPWmELNzujBrpNwCxBIiwoQ',
   'width': 4032}],
 'place_id': 'ChIJbcOlTbMXipQR3sOg8Sna5L0',
 'plus_code': {'compound_code': 'VQWH+37 Amambai, State of Mato Grosso do Sul, Brazil',
  'global_code': '5886VQWH+37'},
 'rating': 4.8,
 'reference': 'ChIJbcOlTbMXipQR3sOg8Sna5L0',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'user_ratings_total': 30,
 'vicinity': 'Av. Nicolau Otano, 1542 - Vila Manvailer, AmambaÃ­'}