# VacationPy

In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps.datasets
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
city_weather_data = "output_data/cities.csv"
city_weather_data = pd.read_csv(city_weather_data, index_col=0)
city_weather_data.head()

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date
City_ID,,,,,,,,,
0,avarua,-21.21,-159.78,CK,2.24,71.60,94,100,1601110256
1,roald,62.58,6.13,NO,26.40,48.20,70,40,1601110256
2,kasempa,-13.46,25.83,ZM,1.81,102.15,11,78,1601110257
3,tuatapere,-46.13,167.68,NZ,5.01,52.00,74,56,1601110206
4,kapaa,22.08,-159.32,US,13.87,80.60,74,20,1601110257

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [4]:
# # Heatmap of humidity

# locations = city_weather_data[["Latitude","Longitude"]]
# humidity = city_weather_data["Humidity"]
# fig = gmaps.figure()
# heat = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=250, point_radius=5)
# fig.add_layer(heat)
# fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
vacation_weather_df = city_weather_data.loc[(city_weather_data["Max Temp"] < 80) & (city_weather_data["Max Temp"] > 70) \
                                  & (city_weather_data["Wind Speed"] < 10) \
                                  & (city_weather_data["Cloudiness"] == 0)].dropna()

vacation_weather_df

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date
City_ID,,,,,,,,,
62,elbistan,38.21,37.20,TR,0.78,77.04,32,0,1601110272
160,barra,-11.09,-43.14,BR,9.60,71.13,71,0,1601110301
214,port said,31.26,32.28,EG,6.35,79.36,66,0,1601110315
311,barbate,36.19,-5.92,ES,9.17,71.60,40,0,1601110221
403,mackay,-21.15,149.20,AU,6.93,75.20,57,0,1601110361
414,herat,34.50,62.00,AF,4.70,78.80,11,0,1601110363
473,bowen,-20.02,148.23,AU,6.93,78.80,41,0,1601110377
486,rockhampton,-23.38,150.50,AU,5.82,78.80,19,0,1601110380
489,puerto penasco,31.32,-113.53,MX,4.00,75.99,63,0,1601110380
502,soure,-0.72,-48.52,BR,9.06,77.86,85,0,1601110383
515,caiaponia,-16.96,-51.81,BR,3.31,71.40,38,0,1601110386

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Adding new blank column to dataframe to add hotel names.
hotel_df = vacation_weather_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date,Hotel Name
City_ID,,,,,,,,,,
62,elbistan,38.21,37.20,TR,0.78,77.04,32,0,1601110272,
160,barra,-11.09,-43.14,BR,9.60,71.13,71,0,1601110301,
214,port said,31.26,32.28,EG,6.35,79.36,66,0,1601110315,
311,barbate,36.19,-5.92,ES,9.17,71.60,40,0,1601110221,
403,mackay,-21.15,149.20,AU,6.93,75.20,57,0,1601110361,
414,herat,34.50,62.00,AF,4.70,78.80,11,0,1601110363,
473,bowen,-20.02,148.23,AU,6.93,78.80,41,0,1601110377,
486,rockhampton,-23.38,150.50,AU,5.82,78.80,19,0,1601110380,
489,puerto penasco,31.32,-113.53,MX,4.00,75.99,63,0,1601110380,
502,soure,-0.72,-48.52,BR,9.06,77.86,85,0,1601110383,
515,caiaponia,-16.96,-51.81,BR,3.31,71.40,38,0,1601110386,

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type": "hotel", "keyword": "hotel", "radius": 5000, "key": g_key}

In [11]:
for index, row in hotel_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    City = row["City"]
    
    params["location"] = f"{latitude}, {longitude}"
    print(f"Retrieving results for city: {City}")
    
    response = requests.get(base_url, params=params).json()
    results = response["results"]
    
    try: 
        print(f"The closest hotel to you in {City} is {results[0]['name']}")
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    except (KeyError, IndexError):
        print("Missing information!")
    print("-----------------------------------------------------------------------------")
print("------Search complete------")

Retrieving results for city: elbistan
The closest hotel to you in elbistan is Hotel Ceyhan
---------------------------------------------------
Retrieving results for city: barra
The closest hotel to you in barra is Hotel Barra Palace
---------------------------------------------------
Retrieving results for city: port said
The closest hotel to you in port said is فندق رستا بورسعيد Resta Port Said Hotel
---------------------------------------------------
Retrieving results for city: barbate
The closest hotel to you in barbate is Hotel Adiafa
---------------------------------------------------
Retrieving results for city: mackay
The closest hotel to you in mackay is Mantra Mackay
---------------------------------------------------
Retrieving results for city: herat
Missing information! Looking for alternate hotel option...
---------------------------------------------------
Retrieving results for city: bowen
The closest hotel to you in bowen is Whitsunday Sands Resort
---------------------------------------------------
Retrieving results for city: rockhampton
The closest hotel to you in rockhampton is Empire Apartment Hotel
---------------------------------------------------
Retrieving results for city: puerto penasco
The closest hotel to you in puerto penasco is Las Palomas Beach & Golf Resort
---------------------------------------------------
Retrieving results for city: soure
The closest hotel to you in soure is Hotel Marajó
---------------------------------------------------
Retrieving results for city: caiaponia
The closest hotel to you in caiaponia is HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
---------------------------------------------------
------Search complete------

In [12]:
hotel_df

,City,Latitude,Longitude,Country,Wind Speed,Max Temp,Humidity,Cloudiness,Date,Hotel Name
City_ID,,,,,,,,,,
62,elbistan,38.21,37.20,TR,0.78,77.04,32,0,1601110272,Hotel Ceyhan
160,barra,-11.09,-43.14,BR,9.60,71.13,71,0,1601110301,Hotel Barra Palace
214,port said,31.26,32.28,EG,6.35,79.36,66,0,1601110315,فندق رستا بورسعيد Resta Port Said Hotel
311,barbate,36.19,-5.92,ES,9.17,71.60,40,0,1601110221,Hotel Adiafa
403,mackay,-21.15,149.20,AU,6.93,75.20,57,0,1601110361,Mantra Mackay
414,herat,34.50,62.00,AF,4.70,78.80,11,0,1601110363,
473,bowen,-20.02,148.23,AU,6.93,78.80,41,0,1601110377,Whitsunday Sands Resort
486,rockhampton,-23.38,150.50,AU,5.82,78.80,19,0,1601110380,Empire Apartment Hotel
489,puerto penasco,31.32,-113.53,MX,4.00,75.99,63,0,1601110380,Las Palomas Beach & Golf Resort
502,soure,-0.72,-48.52,BR,9.06,77.86,85,0,1601110383,Hotel Marajó
515,caiaponia,-16.96,-51.81,BR,3.31,71.40,38,0,1601110386,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure